.homePage{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .final {
        width: 65%;
    height:75vh;
    margin: auto;
    // margin-top: 8rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(237, 237, 237);
    border-radius: 8px;
    box-shadow: 0.5px 1px 2px 2px rgb(0, 0, 0, 0.5);
    // position: relative;
    > div {
      width: 100%;
      height: 100%;
      padding: 2rem;
      &:first-of-type {
          width: 100%;
          height: 100%;
          // background-color: purple;
        > img {
            width: 100%;
            &:first-of-type {
                width: 75%;
            height: 7rem;
            object-fit: contain;
          }
          &:last-of-type {
            // padding: 2rem;
            width: 100%;
            height: 100%;
            height: 75%;
            // object-fit: contain;
          }
        }
      }
      &:last-of-type{
        position: relative;
    }
    
    
}
}
.btn-class{
    position: absolute;
    bottom:4rem;
    width: 90%;
    height: 4rem;
    
    // background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    >button{
        background-color: inherit;
        width: fit-content;
        padding: .6rem;
        border: none;
        outline: none;
        cursor: pointer;
        &:hover{
            color:$color1;
        cursor: pointer;
        font-weight: 700;
      }
      &:disabled{
        opacity: 0;
        cursor:inherit;
    }
}

}
}